<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="./css/orders.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container">
        <h1>Orders</h1>
        <ul>
            <% for (let i = 0; i < orders.length; i++) { %>
                <li>
                    <p>Order ID: <%= orders[i].id %></p>
                    <p>Items: </p>
                    <ul>
                        <% for (let j = 0; j < orders[i].items.length; j++) { %>
                            <li><%= orders[i].items[j].name %> - $<%= orders[i].items[j].price %> - Quantity: <%= orders[i].items[j].quantity %></li>
                        <% } %>
                    </ul>
                    <p>Subtotal: $<%= (orders[i].totalPrice - orders[i].shippingCost).toFixed(2) %></p>
                    <p>Shipping cost: $<%= orders[i].shippingCost.toFixed(2) %></p>
                    <p>Total price: $<%= orders[i].totalPrice.toFixed(2) %></p>
                    <p><a href="/order/<%=orders[i].id%>">Same order again</a></p>
                </li>
            <% } %>
        </ul>
    </div>
</body>
</html>