<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/products.css">
    <link rel="stylesheet" href="./css/bootstrap/bootstrap.min.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="main">
        <h1>Products</h1>
    <div class="products">
    <% for (let i = 0; i < products.length; i++) { %>
        <div class="product">
            <h3><%= products[i].name %></h3>
            <img src="<%= products[i].imageURL %>" alt="image <%= i+1 %>" style="width: auto; height: 150px;">
            <p class="description"><%= products[i].description %></p>
            <p class="price">Price: €<%= products[i].price %></p>
            <p>Stock: <span id="stock-<%= i+1 %>"><%= products[i].quantity %></span></p>

            <div class="quantity-selector">
                <button class="decrement">-</button>
                <input type="text" id="quantity-<%=i+1%>" value="1">
                <button class="increment">+</button>
            </div>

            <button class="add-to-cart" data-product-id="<%=i+1%>" type="submit">Add to cart</button>
        </div>
    <% } %>

    </div>
    <script src="./js/products.js"></script>
</body>
</html>