<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROFILE</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container">
        <h1>Hello <%= user.firstName %> <%= user.lastName %>!</h1>
        <p>You were last online on:
            <span id="lastLogin">
                <script>
                const formatDate = (timestamp) => {
                    const date = new Date('<%= user.lastLogin %>');
                    const options = { weekday: 'long', day: '2-digit', month: '2-digit', year: 'numeric' };
                    document.write(new Intl.DateTimeFormat('en-GB', options).format(date));
                };
                formatDate();
                </script>
            </span>
        </p>
        <p>Email: <%= user.email %></p>
        <p>Online users: <span id="onlineCount">0</span></p>

        <h3><a href="/orders">Order History</a></h3>
    </div>
    <script src="./js/onlineUsers.js"></script>
</body>
</html>